<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>syl-vue</title>
  <!-- 通过cdn方式引入 vue.js -->
  <script src="https://labfile.oss.aliyuncs.com/courses/1262/vue.min.js"></script>
</head>
<body>
<div id="app">
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked:{{picked}}</span>
</div>
<script>
  var app = new Vue({
    el: "#app",
    data() {
      return {
        picked:""
      }
    },
  });
</script>
</body>
</html>
